{erl_opts, [debug_info, {parse_transform, lager_transform}, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.

{deps, [
  {lager, {git, "git://github.com/basho/lager.git", {branch, "master"}}},
  {gun, {git, "git://github.com/ninenines/gun.git", {branch, "master"}}},
  {slacker, {git, "git://github.com/julienXX/slacker.git", {branch, "master"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}
]}.

{relx,
  [
    {release, {sentibot, "0.1.0"}, [sentibot, lager, gun, jsx]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true},
    {sys_config, "config/sys.config"}
  ]
}.